* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(211, 211, 211);
}

.header {
    background-color: rgb(255, 255, 255);
    height: 80px;
    padding-top: 10px;
}

.header-img {
    height: 60px;
}

.header-title {
    font-size: 42px;
    font-weight: 900;
}

/* Classi di servizio specifiche */
.display-inline-block {
    display: inline-block;
}

.vertical-align-middle {
    vertical-align: middle;
}