* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2px;
    border-radius: 5px;
    padding: 10px 30px 5px;
}


.header {
    height: 80px;
    padding-top: 10px;
    margin-bottom: 50px;
}

.header-img {
    height: 60px;
}

.header-title {
    font-size: 42px;
    font-weight: 900;
}

.btn {
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    font-size: 10px;
}

.list {
    list-style: none;
}

.list ul {
    margin: 10px 0 30px;
}

.list li {
    margin: 10px 0;
}

.circle {
    height: 15px;
    line-height: 15px;
    width: 15px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
}

.check {
    font-size: 10px;
    color: green;
}

.cross {
    font-size: 10px;
    color: red;
}

.label {
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 10px;
}

/* Classi di servizio specifiche */
.background-color-lightgray {
    background-color: rgb(237, 237, 237);
}

.background-color-white {
    background-color: rgb(255, 255, 255);
}

.background-color-azure {
    background-color: rgb(69, 171, 234);
}

.background-color-violet {
    background-color: rgb(156, 114, 228);
}

.background-color-green {
    background-color: rgb(100, 192, 169);
}

.background-color-orange {
    background-color: rgb(255, 165, 0);
}

.background-color-fuchsia {
    background-color: rgb(226, 52, 226);
}

.background-color-green2 {
    background-color: rgb(176, 201, 38);
}

.border {
    border-style: solid;
    border-width: 1px;
}

.border-color-lightgray {
    border-color: rgb(211, 211, 211);
}

.border-color-white {
    border-color: rgb(255, 255, 255);
}

.border-color-azure {
    background-color: rgb(69, 171, 234);
}

.border-color-violet {
    background-color: rgb(156, 114, 228);
}

.border-color-green {
    background-color: rgb(100, 192, 169);
}

.border-color-orange {
    border-color: rgb(255, 165, 0);
}

.border-color-fuchsia {
    border-color: rgb(226, 52, 226);
}

.border-color-greenyellow {
    border-color: rgb(173, 255, 47);
}

.display-inline-block {
    display: inline-block;
}


.text-color-white {
    color: rgb(255, 255, 255);
}

.text-color-grey {
    color: rgb(128, 128, 128);
}

.vertical-align-middle {
    vertical-align: middle;
}

.margin-5px {
    margin: 5px;
}

.margin-10px {
    margin: 10px;
}